@CHARSET "UTF-8";

/* YUI3 CSS reset */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

.ico-clear {background:url('../images/btn_clear.png') no-repeat center center;}
.ico-cloud {background:url('../images/btn_cloud.png') no-repeat center center;}
.ico-config {background:url('../images/btn_config.png') no-repeat center center;}
.ico-export {background:url('../images/btn_export.png') no-repeat center center;}
.ico-eye {background:url('../images/btn_eye.png') no-repeat center center;}
.ico-minus {background:url('../images/btn_minus.png') no-repeat center center;}
.ico-move {background:url('../images/btn_move.png') no-repeat center center;}
.ico-pen {background:url('../images/btn_pen.png') no-repeat center center;}
.ico-plus {background:url('../images/btn_plus.png') no-repeat center center;}
.ico-redo {background:url('../images/btn_redo.png') no-repeat center center;}
.ico-save {background:url('../images/btn_save.png') no-repeat center center;}
.ico-undo {background:url('../images/btn_undo.png') no-repeat center center;}

.ico-clear {background-size:16px 16px;}
.ico-cloud {background-size:16px 16px;}
.ico-config {background-size:16px 16px;}
.ico-export {background-size:16px 16px;}
.ico-eye {background-size:16px 12px;}
.ico-minus {background-size:16px 4px;}
.ico-move {background-size:16px 16px;}
.ico-pen {background-size:16px 16px;}
.ico-plus {background-size:16px 16px;}
.ico-redo {background-size:16px 16px;}
.ico-save {background-size:16px 16px;}
.ico-undo {background-size:16px 16px;}

.ico-color {position:relative;}
.ico-color span {position:absolute;left:13px;top:13px;width:16px;height:16px;background-color:#000;}
.ico-color span span {left:2px;top:2px;width:12px;height:12px;background-color:#fff;}

.stage {border-top:1px solid #c6c7c2;border-bottom:1px solid #c6c7c2;background:#fff;}
.menu {overflow:hidden;float:left;width:100%;height:42px;padding:0 13px;text-align:center;background:#e7e9e1;}
.menu-top {border-bottom:1px solid #abaca7;}
.menu-bottom {border-top:1px solid #abaca7;}
.item {overflow:hidden;float:left;width:42px;height:42px;margin:0;padding:0;cursor:pointer;}
.item-selected {background-color:#b8b9b3;}
.item-spacer {width:21px;cursor:default;}
.item-slider {width:126px;}

/* for iphone */
@media
only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* for iphone retina */
@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
}

/* for android */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}

/* pad */
@media
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* desktop */
@media
only screen and (min-width : 1024px) {
}
