@CHARSET "UTF-8";

/* YUI3 CSS reset */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

.menu {display:none;overflow:hidden;position:absolute;height:62px;text-align:center;}
.bg_light {background-color:#e7e9e1;}
.bg_dark {background-color:#b8b9b3;}
.item {display:inline-block;overflow:hidden;width:62px;height:62px;cursor:pointer;}
.ico_pencil {background:url('./images/btn_pencil.png') no-repeat center center;}
.ico_hand {background:url('./images/btn_hand.png') no-repeat center center;}
.ico_undo {background:url('./images/btn_undo.png') no-repeat center center;}
.ico_redo {background:url('./images/btn_redo.png') no-repeat center center;}
.ico_trash {background:url('./images/btn_trash.png') no-repeat center center;}
.ico_upload {background:url('./images/btn_upload.png') no-repeat center center;}
.ico_facebook {background:url('./images/btn_facebook.png') no-repeat center center;}
.ico_twitter {background:url('./images/btn_twitter.png') no-repeat center center;}
.ico_download {background:url('./images/btn_download.png') no-repeat center center;}
.ico_color {position:relative;}
.ico_color span {position:absolute;left:16px;top:16px;width:30px;height:30px;background-color:#000;}
.ico_color span span {position:absolute;left:5px;top:5px;width:20px;height:20px;background-color:#fff;}
